body {
  background-color: blueviolet;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: burlywood;
}

ul,
p {
  color: lightgrey;
  font-size: 25px;
  font-weight: 60px;
}

h2 {
  color: white;
}

#name:hover {
  color: red;
}
